<div class="container">
    <div class="header">IT 02-2</div>
    <div class="form-container">
        <div class="form-main">
            <div class="row">
                <label>User</label>
                <input type="text" placeholder="User">
            </div>
            <div class="row">
                <label>Password</label>
                <input type="password" placeholder="Password">
            </div>
            <div class="row">
                <label>ConfirmPassword</label>
                <input type="password" placeholder="ConfirmPassword">
            </div>

            <div class="row">
                <label></label>
                <button class="btn-submit">สมัครสมาชิก</button>
            </div>
            
        </div>
    </div>
</div>