/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    padding: 0;
    background: white;
    font-family: Tahoma, Arial, sans-serif;
}

.container {
    width: 700px;
    height: 500px;
    margin: 40px auto;
    border: 1px solid black;
    background: white;
    display: flex;                 
    flex-direction: column;        
}

.header {
    background: #0CB647;
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid black;
}

.form-container {
    flex: 1;                       
    display: flex;           
    flex-direction: column;      
    justify-content: center;      
    align-items: center;      
}

.form-main {
    width: 500px;
    background-color: #fff;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}




.row {
    margin: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;    
}

label {
            
    text-align: right;         
    margin-right: 10px;
    padding: 10px;
    font-size: 14px;
}

input {
    flex: 1;                  
    height: 25px;
    padding: 8px;
    border: 1px solid #888;
    border-radius: 4px;
}

input:focus {
    outline: none; 
    border: 1px solid #c4ccd4; 
    box-shadow: 0 0 5px rgba(172, 174, 176, 0.5); 
    background-color: #ffffff;
}


input::placeholder{
    font-size: 12px;
}

.btn-submit {
    
    padding: 8px 20px;
    border-radius: 4px;
    cursor: pointer;
    background-color: #6c757d;
    border: 1px solid #6c757d;
    color: #ffffff;
}

.btn-submit:hover{
     background-color: #5a6268;
     color: #ffffff;
}

.register-link {
    display: block;
    font-size: 13px;
    text-decoration: none;
    color: blue;
    cursor: pointer;
}

.register-link:hover {
    text-decoration: underline;
}
