body {
    margin: 0;
    padding: 0;
    background: white;
    font-family: Tahoma, Arial, sans-serif;
}

.container {
    width: 700px;
    height: 500px;
    margin: 40px auto;
    border: 1px solid black;
    background: white;
    display: flex;                 
    flex-direction: column;        
}

.header {
    background: #0CB647;
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid black;
}

.form-container {
    flex: 1;                       
    display: flex;           
    flex-direction: row;      
    justify-content: center;      
    align-items: center;      
}

.form-welcome {
    width: 500px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
}



