<div class="container">
    <div class="header">IT 02-1</div>
    <div class="form-container">
        <div class="form-login">
            <div class="row">
                <label>User</label>
                <input type="text" placeholder="User">
            </div>
            <div class="row">
                <label>Password</label>
                <input type="password" placeholder="Password">
            </div>

            <div class="row">
                <label></label>
                <button class="btn-login">ลงชื่อเข้าใช้งาน</button>
            </div>
            <div class="row">
                <label></label>
                <a routerLink="/register" class="register-link">สมัครสมาชิก</a>
            </div>
        </div>
    </div>
</div>